<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RA_API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LoadDataOnStartUp" value="true"/>
  </appSettings>
  <userSettings>
    <RA_API.Properties.Settings>
      <setting name="onStartUp_LoadData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="onStartUp_LoadUserProfile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="onStartUp_PopulateLeaderBoard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="onExit_SaveDataToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Credential_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Credential_APIKey" serializeAs="String">
        <value />
      </setting>
    </RA_API.Properties.Settings>
  </userSettings>
</configuration>